<%= simple_form_for(@organisation, html: { multipart: true }) do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="info-block">
    <div class="form-group">
      <%= f.input :name%>
    </div>
    <div class="form-group">
      <%= f.input :description %>
    </div>
    <div class="form-group">
      <%= f.association :category%>
    </div>
  </div>
  <div class="info-block">
    <h3>Contact & Address</h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :email %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :phone_number %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :street %>
        </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
          <%= f.input :city %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :postcode %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :state %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="info-block">
    <h3>Website & Social media</h3>
    <hr>
    <div class="row info-block">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :website %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :facebook %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <div class="form-group">
        <%= f.input :twitter %>
      </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :instagram %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :organisation, label: "Company logo" %>
      </div>
    </div>
  </div>


  <div class="form-group clearfix">
    <%= f.button :submit, "Submit", class: "btn pull-right btn-default" %>
  </div>
<% end %>

<style>
  .info-block{
    padding-bottom: 20px;
  }
</style>
