<section class="container">
  <div class="row">
    <!--Company Detail Content-->
    <div class="col-md-9">
      <header>
        <h1 class="page-title"><%= @organisation.name %></h1>
      </header>
      <!--Logo and Map-->
      <section>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="logo">
              <div class="image"><img src="<%= @organisation.organisation_url || asset_path('item.jpg') %>" alt=""> </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <div id="map-simple"></div>
          </div>
        </div>
      </section>
      <!--end Logo and Map-->
      <!--Contact info-->
      <section>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <section>
              <h3><i class="fa fa-map-marker"></i>Address</h3>
              <address>
                <div><%= @organisation.street.capitalize %></div>
                <div><%= @organisation.postcode %> <%= @organisation.city.capitalize %></div>
                <div><%= @organisation.city.capitalize %></div>
              </address>
            </section>
            <section>
              <h3><i class="fa fa-share-alt"></i>Social Profile</h3>
              <div class="social row">
                <%= link_to(@organisation.twitter, class: "social-button") do %>
                <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to(@organisation.facebook, class: "social-button") do %>
                <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to(@organisation.instagram, class: "social-button") do %>
                <i class="fa fa-instagram"></i>
                <% end %>
              </div>
            </section>
          </div>
          <div class="col-md-4 col-sm-4">
            <h3><i class="fa fa-envelope"></i>Contact</h3>
            <figure>
              <div class="info">
                <strong>Phone</strong><br>
                <span><%= @organisation.phone_number %></span>
              </div>
              <div class="info">
                <strong>Email</strong><br>
                <span><%= @organisation.email %></span>
              </div>
              <div class="info">
                <strong>Website</strong><br>
                <%= link_to(@organisation.website, @organisation.website) %>
              </div>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4">
            <h3><i class="fa fa-file-text"></i>About Us</h3>
            <p>
              <%= @organisation.description %>
            </p>
          </div>
        </div>
      </section>
      <!--end Contact info-->
      <hr>
      
      <!--Company Items-->
      <section>
        <header><h2>Company Items</h2></header>
        <div id="company-items">
          <div class="content">
            <div class="row">
              <% @organisation.products.first(6).each do |product| %>
                <%= render 'products/show_grid', product: product %>
              <% end %>
            </div>
          </div>
        </div>

      </section>
      <!--end Company Items-->
    </div>
    <!-- /.col-md-8-->
    <!--Sidebar-->
    <div class="col-md-3">
      <aside id="sidebar">
        <section>
          <header><h2>In the same category</h2></header>
          <% @companies.each do |company| %>
            <%= render 'organisations/show_vertical', company: company %>
          <% end %>
          <!--/.item-horizontal small-->
        </section>
        <section>
          <%= render 'categories/categories' %>
        </section>
      </aside>
      <!-- /#sidebar-->
    </div>
    <!-- /.col-md-3-->
    <!--end Sidebar-->
  </div><!-- /.row-->
</section>
    <!-- /.container-->