<!DOCTYPE html>
<html>
<head> <!-- html head -->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Outer Wrapper-->
  <div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
      <!-- Navigation-->
      <div class="header">
        <div class="wrapper">
          <div class="brand">
            <a href="/"><%= image_tag("logo.png") %></a>
          </div>
          <nav class="navigation-items">
            <div class="wrapper">
              <ul class="main-navigation navigation-top-header"></ul>
              <ul class="user-area">
                <% if signed_in? %>
                <%= link_to("Sign out", sign_out_path , method: :delete) %>
                <% else %>
                <%= link_to 'Sign in', sign_in_path %>
                <% end %>
              </ul>
              <a href="<%= managers_path %>" class="submit-item">
                <div class="content"><span>Manage your items</span></div>
                <div class="icon">
                  <i class="fa fa-cogs"></i>
                </div>
              </a>
              <div class="toggle-navigation">
                <div class="icon">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- end Navigation-->
      <!-- Page Canvas-->
      <div id="page-canvas">
        <!--Off Canvas Navigation-->
        <nav class="off-canvas-navigation">
          <header>Navigation</header>
          <div class="main-navigation navigation-off-canvas"></div>
        </nav>
        <!--end Off Canvas Navigation-->
        <!--Page Content-->
        <div id="page-content">
          <section class="block">
            <div class="container">
              <div id="flash"> <!-- flash -->
                <% flash.each do |key, value| %>
                <div class="flash <%= key %>"><%= value %></div>
                <% end %>
              </div><!-- flash -->
              <%= yield %>
            </div>
          </section>
        </div>
        <!-- end Page Content-->
      </div>
      <!-- end Page Canvas-->
      <!--Page Footer-->
      <footer id="page-footer">
        <div class="inner">
          <div class="footer-bottom">
            <div class="container">
              <span class="left">(C) Tijarah</span>
              <span class="right">
                <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
              </span>
            </div>
          </div>
          <!--/.footer-bottom-->
        </div>
      </footer>
      <!--end Page Footer-->
    </div>
    <!-- end Inner Wrapper -->
  </div>
  <!-- end Outer Wrapper-->

</body>
</html>
